$font-stack: Roboto, Arial, sans-serif;

$primary-font-size: 16px;
$primary-margin: 0;
$primary-background-color: #fafafa;
$primary-color:  #333;
// TODO: define secondary color to look gray-ish on white background
// $secondary-color: #fafafa;
$highlight-color: #511ca8; // light-blue